body{
    background-image: url("https://png.pngtree.com/thumb_back/fh260/back_our/20190623/ourmid/pngtree-financial-finance-financial-business-gold-coin-piggy-bank-background-image_251627.jpg");
    background-repeat: no-repeat;
    background-size: 100% 170%;
}